/* Definir fuentes personalizadas */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Elementos principales de la página */

body
{
    background: url('../images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#main_wrapper
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

#main_title
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Banner */


#banner_image

{

    margin-top: 15px;

    height: 200px;

    border-radius: 5px;

    background: url('../images/banner-noir.jpg') no-repeat;

    position: relative;

    box-shadow: 0px 4px 4px #1c1a19;

    margin-bottom: 25px;

}

/* Navegación */

/* inline-block arma como un bloque */
nav
{
    display: inline-block;
    width: 900px;
    text-align: right;
}


nav ul
{
    list-style-type: none;
}


nav li
{
    display: inline-block;
    margin-right: 15px;
}


nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Cuerpo */

article, aside

{

    display: inline-block;

    vertical-align: top;

    text-align: justify;

}

article

{
    width: 625px;
    margin-right: 15px;
}

aside

{

    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;

}

/* cajita chiquita */

.cajita {
    background-color: white;
    border-radius: 10px;  
    height: 140px;
    width: 200px;
  }

.none{ object-fit: none; }

/* cajita grande  */

.caja_grande {
    background-color: white;
    border-radius: 10px;  
    height: 280px;
    width: 400px;
  }

.cover{ object-fit: cover; }
